<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    Enter Song Name:
    <input type="text" name="songName" ngModel required minlength="3" #songName="ngModel">
    <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->

    Enter Song Genre:
    <input type="text" name="genre" ngModel required minlength="3" #genre="ngModel">
    <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->


    <br>

    Enter song link:
    <textarea rows="4" name="link" ngModel required #link="ngModel"></textarea>
    <!-- <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error> -->


    <br>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>

<mat-card class="new-post-card">

  <mat-card-header>

    <mat-card-title>Track Name: </mat-card-title>
    <input type="text" name="songName" ngModel required minlength="3" #songName="ngModel">

    <br>
    <mat-card-title>Genre: </mat-card-title>
    <input type="text" name="genre" ngModel required minlength="3" #genre="ngModel">

    <br>
    <mat-card-title>Song Link: </mat-card-title>
    <input type="text" name="link" ngModel required minlength="3" #link="ngModel">

  </mat-card-header>

  <a mat-stroked-button routerLink=".">
    <mat-icon svgIcon="comment"></mat-icon>Submit
  </a>

  <a class="delete" mat-stroked-button routerLink="." (click)="onDelete(post._id)">
    <mat-icon svgIcon="delete-icon"></mat-icon>Cancel
  </a>


</mat-card>
