<!--
	Exercise from Briefbox.me
	Brief: Design a simple, fresh sign-up form

	Disclaimer:
	Background taken from https://sumry.me/login | Credits to them. I just didn't wanted to bother to create something like this
-->

<form method="post" autocomplete="off">
	<p class="intro1">First try to log with anything to see a <strong style="color: #ff3322">failed</strong> login&hellip;</p>
	<p class="intro2">Now try to log with "john@doe.com" and "test" to see a <strong style="color: #a4c639">successful</strong> login!</p>

	<div class="row">
		<div class="wrapper large-4 columns large-centered small-6 small-centered">
			<div class="row header">
				<div class="large-12 columns">SIGN IN</div>
			</div>

			<div class="row username">
				<div class="large-9 columns large-centered">
					<label for="username"><i class="fa fa-user"></i></label>
					<input id="username" type="email" name="username" placeholder="john@doe.com" required autocomplete="off" />
				</div>
			</div>

			<div class="row password">
				<div class="large-9 columns large-centered">
					<label for="password"><i class="fa fa-lock"></i></label>
					<input id="password" type="password" name="pass" placeholder="password" required autocomplete="off" />
				</div>
			</div>

			<div class="row submit">
				<div class="large-9 columns large-centered">
					<input type="submit" value="SUBMIT">
				</div>
			</div>
		</div>
	</div>
</form>

<span class='morphButton'>
	<img class="avatar" src="http://www.migloo.be/labs/lab1/img/avatar.png" alt="John... Doe?">
	<i class="fa fa-refresh fa-spin loading"></i>
	<i class="fa fa-check success"></i>
	<i class="fa fa-times failure"></i>
</span>

<span class="morphHeader"><span>SIGN IN</span></span>