<mat-card class="login-card">
  <div class="login-form">
    <img src="../../assets/img/Feedbak-Logo-Login.png" alt="Logo" class="logo">
    <p class="logo-footer">Welcome back.</p>
    <mat-card-content>
      <form #loginForm="ngForm" class="example-form">
        <table class="example-full-width" cellspacing="0">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" ngModel required minlength="3" #username="ngModel" name="username"
              required>
          </mat-form-field>
          <mat-form-field class="example-full-width">

            <input matInput placeholder="Password" ngModel required #password="ngModel" type="password" name="password"
              required>
          </mat-form-field>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onUserLogin(loginForm)" color="primary">Login</button>
    </mat-card-actions>
  </div>
</mat-card>
