.new-post-content {
  padding: 2%;
  width: 50%;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}

.leave-a-comment {
  width: 100%;
}

.comment-area {
  width: 100%;
  background-color: aquamarine;
  float: left;
}

.cmt-txt-area {
  width: 100%;
}

.avatar-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.delete {
  float: right;
}


.details-card {
  margin-top: 5%;
  padding: 5%;
}

.post-list {
  width: 50%;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}

.comment-card {
  float: left;
}

.sub-left {
  padding-top: 15px;
}
