.feed-content {
  background-color: red;
}

.new-post-content {
  padding: 2%;
  width: 50%;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}

.leave-a-comment {
  width: 100%;
  background-color: blueviolet;
}

.comment-area {
  width: 100%;
  background-color: aquamarine;
  float: left;
}

.cmt-txt-area {
  width: 100%;
}

.new-post-form {}

form {}

.form-btn {}

.btn-1 {}

button {}

.avatar-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.delete {
  float: right;
}


.details-card {
  margin-top: 5%;
  padding: 5%;
}

.post-list {
  width: 50%;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}

.comment-card {
  float: left;
}
