<div class="feed-content">

  <div class="new-post-content">
    <mat-card class="new-post-card">
      <div class="new-post-form">
        <form (submit)="onAddPost(postForm)" #postForm="ngForm">
          <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>{{ loginUser }}</mat-card-title>
          </mat-card-header>

          <mat-card-title>Enter Song Name:</mat-card-title>
          <input type="text" name="songName" ngModel required minlength="3" #songName="ngModel">
          <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->

          <mat-card-title>Enter Song Genre:</mat-card-title>
          <input type="text" name="genre" ngModel required minlength="3" #genre="ngModel">
          <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->


          <mat-card-title>Enter song link:</mat-card-title>
          <textarea rows="4" name="link" ngModel required #link="ngModel"></textarea>
          <!-- <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error> -->

          <div class="form-btn">
            <button mat-raised-button color="accent" type="submit">Save Post</button>
            <button mat-raised-button color="accent" type="submit">Cancel</button>
          </div>
        </form>
      </div>

    </mat-card>
  </div>

  <mat-card class="post-card">
    <mat-accordion multi=" true" *ngIf="posts.length > 0">
      <mat-expansion-panel class="post-list" [expanded]="true" *ngFor="let post of posts">

        <div class="details-card">
          <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Track Name: {{ post.songName }}</mat-card-title>
            <mat-card-title>Genre: {{ post.genre }}</mat-card-title>
            <mat-card-title><a href="{{ post.link }}">Song Link:</a></mat-card-title>
            <mat-card-subtitle>Posted By: {{ post.postedBy }}</mat-card-subtitle>
          </mat-card-header>
        </div>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                View Comments
              </mat-panel-description>
            </mat-expansion-panel-header>


            <div ng-app="comments" ng-controller="commentsCtrl">
              <div class="comment-section-card">

                <mat-card-header>
                  <div mat-card-avatar class="avatar-image"></div>
                  <mat-card-title>Ethan Horrigan</mat-card-title>
                  <mat-card-subtitle>This is my comment</mat-card-subtitle>
                </mat-card-header>



                <mat-card-header>
                  <div mat-card-avatar class="avatar-image"></div>
                  <mat-card-title>Justin Bieber</mat-card-title>
                  <mat-card-subtitle>Yummy Burritos</mat-card-subtitle>
                </mat-card-header>



                <div class="leave-a-comment">
                  <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar class="avatar-image"></div>
                      <mat-card-title>Justin Bieber</mat-card-title>
                      <div class="comment-area">
                        <textarea class="cmt-txt-area" matInput placeholder="Leave a comment"></textarea>
                      </div>
                    </mat-card-header>
                  </mat-card>
                </div>
              </div>


            </div>

          </mat-expansion-panel>
        </mat-accordion>



        <a class="delete" mat-stroked-button routerLink="." (click)="onDelete(post._id)">
          <mat-icon svgIcon="delete-icon"></mat-icon>Delete
        </a>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card>
</div>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p>
