<mat-card>
  <form (submit)="onEditPost(postForm)" #postForm="ngForm">

    <h2><i class="material-icons">music_video</i> Song Name:</h2>
    <input matInput type="text" name="songName" ngModel={{post[0]?.songName}} required minlength="3" #songName="ngModel">

    <h2><i class="material-icons">play_arrow</i>Genre:</h2>
    <textarea matInput rows="4" name="genre" width="100" ngModel={{post[0]?.genre}} required #genre="ngModel"></textarea>

    <h2><i class="material-icons">note</i>Song Link:</h2>
    <textarea matInput rows="4" name="link" width="100" ngModel={{post[0]?.link}} required #link="ngModel"></textarea>

    <br>

    <button mat-raised-button color="accent" type="submit">Update Post</button>

  </form>
</mat-card>
