.mat-card {
  width: 50%;
  text-align: center;
  padding: 2%;
  margin: 0 auto;
}

.details-card {
  margin-top: 5%;
  padding: 5%;
}

.post-list {
  width: 50%;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}


.sub-left {
  padding-top: 15px;
}
