<mat-card>
  <h4 class="title">{{user}}<br />
    <a href="#"><small>@{{user}}</small></a>
  </h4>

  <hr>

  <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxflex="" fxLayoutGap="20px">
    <div fxFlex>
      <app-stat [bgClass]="'danger'" [icon]="'view_list'" [label]="'Your Posts!'"></app-stat>
    </div>
    <div fxFlex>
      <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'Score!'"></app-stat>
    </div>
    <div fxFlex>
      <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'Comments!'"></app-stat>
    </div>
  </div>
</mat-card>

<br>

<mat-card>
  <h4 class="title">Recent Posts</h4>
  <p class="category">Feedback you've given recently</p>
  <hr>
  <mat-accordion multi=" true" *ngIf="posts.length > 0">
    <mat-expansion-panel class="post-list" [expanded]="true" *ngFor="let post of myPosts">

      <div class="details-card">
        <mat-card-header>
          <mat-card-title>Track Name: {{ post.songName }}</mat-card-title>
          <mat-card-title>Genre: {{ post.genre }}</mat-card-title>
          <mat-card-title><a href="{{ post.link }}">Song Link:</a></mat-card-title>
          <mat-card-subtitle class="sub-left">Posted By: {{ post.postedBy }}</mat-card-subtitle>
        </mat-card-header>
      </div>

      <button *ngIf="post.postedBy == user" [routerLink]="['/edit-post', post._id]" mat-button color="primary">EDIT</button>
      <button *ngIf="post.postedBy == user" (click)="onDelete(post._id)" mat-button color="warn">DELETE</button>

    </mat-expansion-panel>
  </mat-accordion>

</mat-card>
