<mat-card>
  <form (submit)="onAddUser(userForm)" #userForm="ngForm">

    Email:
    <input type="text" name="email" ngModel required minlength="3" #email="ngModel">
    <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->

    Username:
    <input type="text" name="username" ngModel required minlength="3" #username="ngModel">
    <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->


    <br>

    Password:
    <textarea rows="4" name="password" ngModel required #password="ngModel"></textarea>
    <!-- <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error> -->


    <br>
    <button mat-raised-button color="accent" type="submit">Register</button>
  </form>
</mat-card>
